@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&display=swap');

:root {
  --darker-blue: #2980b9;
  --lighter-blue: #3498db;
}

* {
  box-sizing: border-box;
}

.hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  min-height:  100vh;
  margin: 0;
  flex-direction: column;
  padding: 1.5rem;
}

.lead-text {
  text-align: center;
}

button {
  background-color: #2980b9;
  color: white;
  border: none;
  line-height: 1;
  border-radius: 6px;
  padding: .5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
button:hover {
  background-color: #3498db;
}
button:disabled,
button[disabled] {
  background-color: rgba(51,51,51,.3);
  color: #555;
  cursor: not-allowed;
}

#main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#main li {
  margin: .25rem;
  display: flex;
}
#main li a {
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  padding: .5rem;
  transition: background-color .3s ease-in-out;
}
#main li a:hover {
  background-color: #3498db;
}

.wrapper {
  max-width: 960px;
}

button:not(:disabled).error {
  /* background-color: #c0392b; */
  background-color: rgba(192, 57, 43, .35);
  color: #c0392b;
}
button:not(:disabled).error:hover {
  background-color: rgba(192, 57, 43, 1);
  color: #fff;
}

/* 1024 px */
@media only screen and (min-width: 64rem) {
  #main {
    max-width: 70vw;
  }
}