/* ~~~~~  COLORS  ~~~~~

#2980b9 - DARKER
#3498db - LIGHTER
*/

body {
  padding: 0;
  display: initial;
}

.panel::before {
  content: "";
  position: absolute;
  inset: 0; /* Shorthand for top:0, right:0, bottom:0, left:0 */
  z-index: -1; /* Pushes the image behind the text layer */
  
  /* Apply your background properties here */
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* Control your opacity here (0.0 to 1.0) */
  opacity: 0.4; 
}

.panels {
  display: flex;
}
.panel {
  width: 20%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: 1s;
  -moz-transition: 1s; /* Firefox 4 */
  -webkit-transition: 1s; /* Safari and Chrome */
  -o-transition: 1s; /* Opera */
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,39,76,0.6);
  background-blend-mode: luminosity;

}
/* .panel::after {
  content: "";
  background-color: rgba(0, 39, 76, 1);
  position: absolute;
} */
.panel img {
  height: 100vh;
}
.panel.active {
  width: 100%;
}

.panel.first {
  background-image: url('./img/detroit-skyline-istock.jpg');
}
.panel.second {
  background-image: url('./img/leaps-dia.jpeg');
}
.panel.third {
  background-image: url('./img/MPHOTO-MARSAL_YthMbltySmmt25_0261.jpg');
}
.panel.fourth {
  background-image: url('./img/SOE_Marygrove_Senior_Capstone_Showcase_2023_126_0.jpg');
}
.panel.fifth {
  background-image: url('./img/marsal-commencement.jpg');  
}
.panel .default-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel .lrg-lttr {
  box-shadow: 1px 1px 10px 0px rgba(51,51,51,.4);
  font-size: 4rem;
  font-weight: 800;
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel .default-txt b {
  font-size: 1.25rem;
}
.panel .sml-txt {
  display: none;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.panel.active .sml-txt {
  display: block;
  background-color: rgba(255,255,255,.5);
  position: absolute;
  top: 60%;
  width: 40%;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
