/* ~~~~~  COLORS  ~~~~~

#2980b9 - DARKER
#3498db - LIGHTER
*/

.keys {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.key {
  border: solid 3px #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 10px;
  transition: all 0.07s ease;
}
.space-bar {
  flex-basis: 100%;
}
.playing {
  transform: scale(1.2);
  background-color: #2980b9;
}
.key > div {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}