/* ~~~~~  COLORS  ~~~~~

#2980b9 - DARKER
#3498db - LIGHTER
*/
#title {
  background-color: #3498db;
  width: 100%;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
}
#title.small {
  height: 50px;
  font-size: 1.5rem;
}
#posts {
  max-width: 700px;
}
.post h2 {
  font-size: 2rem;
  line-height: .9;
  margin: 3.5rem 0 0 0;
  transition: all 0.3s;
}
.post:first-child h2 {
  margin-top: 10rem;
}

@media only screen and (min-width: 700px) {
  .post h2 {
    font-size: 4rem;
    margin: 7rem 0 0 0;
  }
}