/* ~~~~~  COLORS  ~~~~~

#2980b9 - DARKER
#3498db - LIGHTER
*/

body {
  padding: 0;
  display: initial;
}

.panels {
  display: flex;
}
.panel {
  width: 33.333%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: 1s;
  -moz-transition: 1s; /* Firefox 4 */
  -webkit-transition: 1s; /* Safari and Chrome */
  -o-transition: 1s; /* Opera */
}
.panel img {
  height: 100vh;
}
.panel.active {
  width: 250%;
}

.panel.second {
  position: relative;
}
.panel.second h1 {
  text-shadow: 0 0 3px #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}